.polygon {
    width: 100%;
    height: 400px;
    background: url('../images/2020.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%, 0 60%);
    position: relative;
}

.menu {
    height: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu-item {
    height: 100%;
    width: 100px;
    background-color: rgba(255,255, 255, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: center;
    font-size: 20px;
    cursor: pointer;
    border-right: 1px solid lightblue;
    transition: .4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-item:hover {
    clip-path: polygon(0 0, 36% 0, 50% 20%, 64% 0, 100% 0, 100% 100%, 0 100%);
}

.flipcard {
    width: 250px;
    height: 350px;
    position: relative;
    perspective: 700px;   
}

.card {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .5s;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.back {
    background: green;
    transform: rotateY(180deg);
}

.front {
    background-color: red;
}

.flipcard:hover .front {
    transform: rotateY(-180deg);
}

.flipcard:hover .back {
    transform: rotateY(0);
}

